<h1>Hello there, do you comma here often?</h1>
<form action="/auth/login" method="POST" class="login">
   <label for="username">Username</label>
   <br />
   <input type="text" id="username" name="username">
   <br />
   <label for="password">Password</label>
   <br />
   <input type="password" id="password" name="password">
   <br />
   <button class="green" type="submit">Log In</button>


</form>
{{errorMessage}}