<div>
    <h2>Donate a new book</h2>
    <form action="/new-book" method="POST">

        <label>Title</label>
        <input type="text" name="title">
        <br>

        <label>Author</label>
        <input type="text" name="author">
        <br>

        <!-- <label>Genre</label>
        <select name="Genre" id="Genre" form="Genreform">
            <option value="Adventure">Adventure</option>
            <option value="Fiction">Fiction</option>
            <option value="Poetry">Poetry</option>
            <option value="Science-fiction">Science-fiction</option>
            <option value="History">History</option>
            <option value="Thriller">Thriller</option>
            <option value="Dystopian">Dystopian</option>
            <option value="Memoir">Memoir</option>
            <option value="Romance">Romance</option>
            <option value="Non-Fiction">Non-Fiction</option>
        </select>
        <br>

        <label>Condition</label>
        <select name="condition" id="condition" form="conditionform">
            <option value="Mint">Mint</option>
            <option value="Near Mint">Near Mint</option>
            <option value="Excellent">Excellent</option>
            <option value="Good">Good</option>
            <option value="Poor">Poor</option>
        </select>
        <br> -->

        <label>Genre</label>
        <input type="text" name="genre">
        <br>

        <label>Condition</label>
        <input type="text" name="condition">
        <br>



        <button type="submit" value="Submit">Add book</button>

    </form>
</div>