<h1>This is the HOME PAGE of {{title}}</h1>

{{#if user}}

<p>Welcome to {{title}}, {{user.username}}</p>
<h2>20 latest books here</h2>
{{else}}
<a href="/auth/signup">Sign up</a>
<a href="/auth/login">Log in</a>

{{/if}}