<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>
   <header>
      <img src="/images/portada.png" alt="background image of books" style="height: auto; max-width: 100%">
   </header>

   <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/browse">Browse Books</a>

      {{#if user}}
      <a href="/profile">My profile</a>
      <a href="/auth/logout">Log out</a>
      {{else}}
      <a href="/auth/signup">Sign up</a>
      <a href="/auth/login">Log in</a>
      {{/if}}



      <div class="search-container">
         <form action="/search">
            <input type="text" placeholder="Search by title or author" name="search">
            <button type="submit">Search</button>
         </form>
      </div>
   </div>


   {{{body}}}

   <footer>
      <hr>
      <div class="container">
         <div class="footer_trust_top">
            <p>AS FEATURED IN</p>
            <div class="trustlogos"></div>
         </div>
         <div class="col-lg-12 col-md-12 col-xs-12 footer_main">


   </footer>

   <!-- <script src="/javascripts/script.js"></script> -->
</body>

</html>