<h1>Welcome to your PROFILE, {{user.username}}</h1>

<p>{{user.bio}}</p>
<p>{{user.location}}</p>

{{#each requests}}
<p>Your request for {{this.book.title}} has been accepted!</p>
{{/each}}

<a href="/update-settings">Profile settings</a>

<a href="/books/wish-list">Wish List</a>
<a href="/books/giveaway">My books to exchange</a>