/* -------------TOP NAV------------ */
.topnav {
  overflow: hidden;
  background-color: #ecd8c9;
  margin-top: -5px;
}

.topnav a {
  float: left;
  display: block;
  color: #433f4e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ba8871;
  color: white;
}

.topnav a.active {
  background-color: #aebaa2;
  color: #433f4e;
}

.topnav a.active:hover {
  background-color: #59674c;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 15px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ba8871;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #aebaa2;
}

/* -------------COVER IMG------------- */
.coverimg {
  height: 20vh;
  width: 100%;
}

/* -------------BODY------------- */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fbfaf6;
}

h1 {
  color: #433f4e;
  text-decoration: underline solid #aebaa2;
  text-align: center;
}

h2 {
  color: #ba8871;
  font-size: 20px;
}

.page-title {
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: #433f4e;
}

.dont-stick {
  display: flex;
  justify-content: center;
}

.bio {
  background-color: white;
  border: 1px solid #ba8871;
  margin: 10%;
  padding: 2% 5%;
}

.congratulations {
  text-align: center;
  border: 3px dotted #aebaa2;
  margin: 0 5% 2% 5%;
  background-color: white;
}

/*p {
  color: #433f4e;
  margin: 30px;
  background-color: white;
  padding: 30px;
  border: 1px solid #ba8871;
}*/

/* -------------- CARDS ----------- */

.book-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 50px 0;
  position: center;
  margin-bottom: 12vh;
  justify-content: center;
}

.book-card {
  background-color: white;
  border: 1px solid #ba8871;
  width: 300px;
  height: 270px;
  display: flex;
  float: left;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 15px;
  padding: 10px 10px;
  margin: 20px 10px 0 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px #fbfaf6;
  text-decoration: none;
  font-size: 17px;
  overflow: hidden;
  flex-direction: column;
}

.p-card {
  color: #433f4e;
  font-size: 15px;
  max-width: 450px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.book-card a {
  padding: 0 5px;
  text-decoration: underline;
}

.book-card button {
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px 10px;
  margin: 5px 10px;
  float: right;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.centered-card {
  display: flex;
  justify-content: center;
}

/* -------------BODY-ODY-ODY---------- */

.full-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flexed-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-size {
  flex: 1;
  margin-bottom: 5%;
}

.instructions-main {
  padding: 20px 30px;
  display: block;
  margin: 30px 30px;
  background-color: white;
  width: 90%;
  align-items: center;
}

.book-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.accepted {
  margin-top: -10%;
  margin-bottom: 15%;
}

.h3-about {
  color: #aebaa2;
  font-size: 20px;
}

.p-about {
  font-size: 16px;
}

/*---------------BUTTONS------------*/

.centered-btn {
  display: flex;
  justify-content: center;
  align-self: center;
}

.green {
  background-color: #aebaa2;
  padding: 7px;
  border: 1px solid #59674c;
  color: #433f4e;
  border-radius: 10px;
  font-size: 17px;
}

.orange {
  background-color: #ba8871;
  padding: 7px;
  border: 1px solid #59674c;
  color: #433f4e;
  border-radius: 10px;
  font-size: 17px;
}

.green a,
.orange a {
  text-decoration: none;
}

/* -------------- FOOTER ----------- */
footer {
  background-color: #ecd8c9;
  height: 200px;
  position: sticky;
  bottom: 0;
  left: 0;
  height: 12vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer img {
  height: 6vh;
}

footer aside {
  width: 30%;
}

/* -------------- FORMS ----------- */

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5% 0;
}

.signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}
